<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="49503aldoblack.GjobaMobile" Publisher="CN=B83957EB-A9AD-4C03-ACEF-3DBB64CD74CF" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="4777b55b-67dc-4a5d-80e9-4b90eed48c8b" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Gjoba Mobile</DisplayName>
    <PublisherDisplayName>aldoblack</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="gjobaMobile.App">
      <m3:VisualElements DisplayName="Gjoba Mobile" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="Gjoba Mobile është një aplikacion e cila ju lejon të kontrolloni gjobat e makinave tuaja nga celulari. SHËNIM Ky alikacion nuk është versioni Windows Phone i aplikacionit Komisariati Dixhital krijuar nga Ministria e Punëve të Brendshme dhe Policia e Shtetit dhe nuk ka lidhje aspak me të." ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>